* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text: #473198;
  --secondary-text: #2b4162;
  --secondary-bgc: #b7ffd8;
  font-family: "Roboto", sans-serif;
}

img {
  border-style: none;
}

body {
  background-image: url(https://w-static.meteosuper.it/public/icons/background.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 130px;
  text-align: center;
  color: var(--primary-text);
  font-size: 3rem;
}

.container {
  width: 100vw;
  height:72vh;
  background-color: #ededdd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #173561;
  width: 350px;
  height: 470px;
  flex-direction: column;
  box-shadow: -15px 15px 10px 0px rgba(0,0,0,0.75);
}

.input h2 {
  font-size: 26px;
  color: white;
  text-align: center;
  margin: 0 0 25px 0;
  width: 250px;
  margin-top: 10px;
}

.inputForm {
  display: flex;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
}

h4 {
  color: white;
  font-weight: 100;
}

img {
  width: 18%;
}

#textInput {
  height: 30px;
  border-radius: 5px;
  padding: 3px 3px 3px 30px;
  font-size: 19px;
  margin-bottom: 80px;
}

#textOutput {
  padding-bottom: 20px;
  background-color: transparent;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

#textInput::placeholder {
  padding-left:5px;
}

label {
  color: white;
}

button {
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  height: 40px;
  background-color: lightblue;
  outline: none;
}

button img {
  width: 20px;
  height: 20px;
  position: absolute; 
  top: 11px;
  left: 11px;
}

.output {
  margin: 5px 0px 5px 0;
  width: 225px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.errorBanner {
  color: red;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ededdd;
  padding: 15px;
}

.cardsContainer .card {
  margin: 10px;
  background-color: #173561;
  padding: 30px;
  border-radius: 5px;
  box-shadow: -15px 15px 10px 0px rgba(0,0,0,0.75);
}

.smallMarginBtt {
  margin-bottom: 10px !important;
}

.is_notVisible{
  display: none !important;
}

.is_visible{
  display: block !important;
}

.backgr_transp{
  background-color: transparent !important;
}

.pad_btm_25 {
  padding-bottom: 25px !important;
}

.font_size_22 {
  font-size: 22px !important;
}

@media(max-width: 750px) {
  .input {
    margin-top: 50px;
  }
  
  .card:first-child {
    margin-top: 40px;
  }
}
  
