* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text: #473198;
  --secondary-text: #2b4162;
  --secondary-bgc: #b7ffd8;
  font-family: "Roboto", sans-serif;
}

img {
  border-style: none;
}

body {
  --primary-text: #473198;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: var(--primary-text);
  font-size: 3rem;
}

.container {
  width: 100vw;
  height:78vh;
  background-color: #c5c5c5f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #173561;
  width: 350px;
  height: 450px;
  flex-direction: column;
}

.input h2 {
  font-size: 26px;
  color: white;
  text-align: center;
  margin: 0 0 25px 0;
  width: 250px;
  margin-top: 10px;
}

.inputForm {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
}

h4 {
  color: white;
  font-weight: 100;
}

img {
  width: 18%;
}

#textInput {
  height: 30px;
  border-radius: 5px;
  padding: 3px 3px 3px 8px;
  font-size: 19px;
  margin-bottom: 80px;
}

.smallMarginBtt {
  margin-bottom: 10px !important;
}

#textOutput {
  padding-bottom: 25px;
  background-color: transparent;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.is_notVisible{
  display: none !important;
}

.is_visible{
  display: block !important;
}

label {
  color: white;
}

button {
  padding: 2px;
  border-radius: 5px;
  height: 40px;
  background-color: lightblue;
}

.output {
  margin: 5px 0px 5px 0;
  width: 225px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.errorBanner {
  color: red;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #c5c5c5f1;
}

.cardsContainer .card {
  margin: 10px;
  background-color: #173561;
  padding: 30px;
  border-radius: 5px;
}
  /*
.card {
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  scroll-snap-align: start;
  cursor: pointer;
  /*
}
/*
.card__title_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 -8px 20px 3px black;
  color: white;
} */
