* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text: #473198;
  --secondary-text: #2b4162;
  --secondary-bgc: #b7ffd8;
  font-family: "Roboto", sans-serif;
}

img {
  border-style: none;
}

body {
  
  --primary-text: #473198;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: var(--primary-text);
  font-size: 3rem;
}

.input h2 {
  margin-bottom: 20px;
  width: 215px;
}

.container {
  
 
}

.input {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height:80px;
}

form {
  display: flex;

}

.output {
  margin: 5px;
  width: 150px;
  height: 25px;
  background-color: lightgrey;
}

.card {
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  scroll-snap-align: start;
  cursor: pointer;
}

.card__title_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 -8px 20px 3px black;
  color: white;
}
